@import '~bootstrap';
body {
    margin: 0;
    min-height: 100vh;
}

@import 'home';
@import 'clients';
.msg-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    .msg-bin {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
}

.login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form.logout {
    display: inline-block;
    button {
        border: none;
        outline: none;
        background-color: transparent;
    }
}